<header>
    <nav>
        <a href="/">Almondac</a>
        <ul>
            <li><a href="/users">User Accounts</a></li>
            <li><a href="/users/new">Add Account</a></li>
        </ul>
    </nav>
</header>
