<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Almondac</title>
    <link rel="stylesheet" href="../static/bootstrap/bootstrap.min.css">
    <script src="../static/jquery/jquery.js"></script>
    <script src="../static/bootstrap/bootstrap.min.js"></script>
    <script defer src="../static/main.js"></script>
</head>
<body>
    
    <br>
    <%- include('../partials/header.ejs') %>
    <center style="margin-top: 70px">
    <%- body %>
    <br>
    </center>
</body>
</html>