<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <center>

        <h1>How may I help you?</h1>
        
        
        <a href="search"><button>Search</button></a>
        <br />
        <br />
          <a href="input"><button>Input</button></a>
        <br />
        <br />
          <a href="recommendations"><button>Recommendations</button></a>
        
        </center>
</body>
</html>